---
# NEVER COMMIT THESE VALUES TO GIT
# Copy to values-secret.yaml (gitignored) and fill in real values before
# ./pattern.sh make install / load-secrets.
version: "2.0"

# Used by generated S4 passwords/keys when onMissingValue: generate (drpartner-s4).
vaultPolicies:
  advancedPolicy: |
    length=20
    rule "charset" { charset = "abcdefghijklmnopqrstuvwxyz" min-chars = 1 }
    rule "charset" { charset = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" min-chars = 1 }
    rule "charset" { charset = "0123456789" min-chars = 1 }
    rule "charset" { charset = "!@#$%^&*" min-chars = 1 }

secrets:
  # This is to make the secrets available to spoke clusters
  - name: vm-ssh
    vaultPrefixes:
    - global
    fields:
    - name: username
      value: 'Username of user to attach privatekey and publickey to - cloud-user is a typical value'

    - name: privatekey
      value: 'Private ssh key of the user who will be able to elevate to root to provision kiosks'

    - name: publickey
      value: 'Public ssh key of the user who will be able to elevate to root to provision kiosks'

  # This is to make the secrets available to spoke clusters
  - name: cloud-init
    vaultPrefixes:
    - global
    fields:
    - name: userData
      value: |-
        #cloud-config
        user: 'username of user for console, probably cloud-user'
        password: 'a suitable password to use on the console'
        chpasswd: { expire: False }

  - name: aws
    fields:
      - name: aws_access_key_id
        ini_file: ~/.aws/credentials
        ini_key: aws_access_key_id
      - name: aws_secret_access_key
        ini_file: ~/.aws/credentials
        ini_key: aws_secret_access_key
      - name: baseDomain
        value: "A suitable DNS domain"
      - name: pullSecret
        value: "A standard OpenShift pull secret"
      - name: privatekey
        value: "An SSH private key"
      - name: publickey
        value: "An SSH public key"

  - name: openshiftPullSecret
    fields:
      - name: .dockerconfigjson
        value: "A standard OpenShift pull secret"

  # Required for main.variant: drpartner-s4 (hub vp-s4-storage).
  # Vault paths must match overrides in variants/drpartner-s4/values-drpartner-s4.yaml:
  #   s4UICredentials.vaultKey  -> secret/data/global/s4-ui-credentials
  #   s4APICredentials.vaultKey -> secret/data/global/s4-api-credentials
  # External Secrets merges these into Kubernetes Secret s4-credentials for S4 + bucket Jobs.
  - name: s4-ui-credentials
    vaultPrefixes:
      - global
    fields:
      - name: UI_USERNAME
        value: s4admin
        onMissingValue: error
      - name: UI_PASSWORD
        onMissingValue: generate
        override: true
        vaultPolicy: advancedPolicy

  - name: s4-api-credentials
    vaultPrefixes:
      - global
    fields:
      - name: AWS_ACCESS_KEY_ID
        value: s4admin
        onMissingValue: error
      - name: AWS_SECRET_ACCESS_KEY
        onMissingValue: generate
        override: true
        vaultPolicy: advancedPolicy

# These are needed if you want to use and import your own regional clusters
# by setting byoc: true in rdr chart
# - name: ocp-primary_cluster_kubeconfig
#   fields:
#     - name: kubeconfig
#       path: path to kubeconfig for the cluster
# - name: ocp-secondary_cluster_kubeconfig
#   fields:
#     - name: kubeconfig
#       path: path to kubeconfig for the cluster
