apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  labels:
    open-cluster-management.io/policy-set: openshift-plus
  name: placement-openshift-plus-managed
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-wave: "2"
spec:
  clusterConditions:
  - type: ManagedClusterConditionAvailable
    status: "True"
  clusterSelector:
    matchExpressions:
    - key: vendor
      operator: In
      values:
      - OpenShift
    - key: name
      operator: NotIn
      values:
      - local-cluster