{{- range .Values.regionalDR }}
{{ $clusterSet := .name }}
{{ $clusters := .clusters }}
{{- range .drpolicies }}
{{ $vm := coalesce (and .vmSupport "vm") "novm" }}
{{ $autoName := printf "%s-%s" .interval $vm }}
{{ $name := coalesce .name $autoName -}}
---
apiVersion: ramendr.openshift.io/v1alpha1
kind: DRPolicy
metadata:
  name: {{ $name }}
  annotations:
    argocd.argoproj.io/sync-wave: "8"
  labels:
    cluster.open-cluster-management.io/backup: ramen
spec:
  drClusters:
  - {{ include "rdr.primaryClusterName" $ }}
  - {{ include "rdr.secondaryClusterName" $ }}
  schedulingInterval: {{ .interval }}
{{- if .vmSupport }}
  replicationClassSelector:
    matchLabels:
      replication.storage.openshift.io/flatten-mode: force
{{- end }}
{{- end }}
{{- end }}
