apiVersion: batch/v1
kind: Job
metadata:
  name: submariner-prerequisites-checker
  namespace: open-cluster-management
  labels:
    app.kubernetes.io/name: submariner-prerequisites
    app.kubernetes.io/component: health-check
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  backoffLimit: 50
  activeDeadlineSeconds: 14400
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: prerequisites-checker
        image: registry.redhat.io/openshift4/ose-cli:latest
        command:
        - /bin/bash
        - -c
        - |
{{ .Files.Get "scripts/submariner-prerequisites-check.sh" | indent 10 }}
      serviceAccountName: submariner-prerequisites-checker

