{{- $dr := index .Values.regionalDR 0 }}
{{- $clusterSet := $dr.name }}
{{- $globalnetEnabled := $dr.globalnetEnabled }}
---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  name: {{ $clusterSet }}-broker
---
apiVersion: submariner.io/v1alpha1
kind: Broker
metadata:
  name: submariner-broker
  namespace: {{ $clusterSet }}-broker
  labels:
    cluster.open-cluster-management.io/backup: submariner
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  globalnetEnabled: {{ $globalnetEnabled | default false }}


{{- $effectivePrimary := include "rdr.effectivePrimaryCluster" . | fromJson }}
{{- $effectiveSecondary := include "rdr.effectiveSecondaryCluster" . | fromJson }}
{{- range list $effectivePrimary $effectiveSecondary }}
{{- $cluster := . }}
---
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ManagedClusterAddOn
metadata:
  name: submariner
  namespace: {{ $cluster.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  installNamespace: submariner-operator

---
apiVersion: submarineraddon.open-cluster-management.io/v1alpha1
kind: SubmarinerConfig
metadata:
  name: submariner
  namespace: {{ $cluster.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  gatewayConfig:
    gateways: 1
    aws:
      instanceType: {{ $.Values.submariner.instanceType }}
  IPSecNATTPort: {{ $.Values.submariner.ipsecNatPort }}
  NATTEnable: {{ $.Values.submariner.NATTEnable }}
  cableDriver: {{ $.Values.submariner.cableDriver }}
  credentialsSecret:
    name: {{ $cluster.name }}-cluster-aws-creds

{{- end }}
